<div class="grid-header"> 
    <div class="contenedor-spans">
        <span class="color-span mr-3">F3- BUSCAR</span>
        <span class="color-span mr-3">TAB- ELIMINAR DETALLE</span>
        <span class="color-span mr-3">F7- VENDER CON MENOR PRECIO</span>
        <span class="color-span mr-3">F8- SOLICITAR A LA BODEGA</span>
        <span class="color-span mr-6">F9- ELEMENTOS SOLICITADOS?</span>
        <span class="color-span mr-3">F10- CANCELAR SOLICITUD A LA BODEGA</span>
    </div>

    <div class="contenedor-botones">
        <button class="mr-2 ml-1"><i class="fa-solid fa-floppy-disk"></i></button>
        <button class="mr-2"><i class="fa-solid fa-file-circle-plus"></i></button>
        <button class="mr-2"><i class="fa-regular fa-folder-open"></i></button>
        <button class=""><i class="fa-solid fa-right-from-bracket"></i></button>

    </div>
</div>



@code {

}
