@if (Display)
{
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Confirmación</p>
                <button class="delete" aria-label="close"
                    @onclick="Dispose"></button>
            </header>
            <section class="modal-card-body">
                <div class="container">
                    @Mensaje
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="btn btn-success" @onclick="Dispose">Ok</button>
            </footer>
        </div>
    </div>

}

@code {
    private bool Display = false;

    public string Mensaje { get; set; } = string.Empty;

    

    public void Mostrar()
    {
        this.Display = true;

        StateHasChanged();

    }

    public void Dispose()
    {
        this.Display = false;
        StateHasChanged();

    }

}